@page
@model PaginationModel
@{
    ViewData["Title"] = "Pagination Samples";
}
<h1>@ViewData["Title"]</h1>


@if (Model.PageNumber.HasValue)
{
    <h4>PageNumber = @Model.PageNumber.Value</h4>
}
else
{
    <h4>PageNumber = undefined</h4>
}

<h4>Value1 = @(Model.Value1 ?? "null")</h4>

<h4>Value2 = @(Model.Value2 ?? "null")</h4>

<h2>Basic</h2>

<pagination page-attribute="pageNumber" page-route-value1="aaa" page-route-value2="bbb" page-num=@Model.PageNumberValue page-last="10"></pagination>

<h2>Truncated</h2>

<pagination page-attribute="pageNumber" page-num=@Model.PageNumberValue page-last="50"></pagination>

